# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/OpenCL/OpenCL.sdf
/UnitTests/*.user
/UnitTests/Debug
/OpenCL/*.suo
/OpenCL/Debug
